#dining_menu ul,#dining_menu ul li{
    list-style-type: none;
    font-size: 8px;
    text-align: left;
    align-items: center;
    padding: 0px;
}

#dining_menu ul li{
    
}

.bold{
    font-weight: bold;
}


.menu_1{
    background-color: #9a2018;
    color: white;    
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu_2{
    background-color: #E8E7E7;
    display: flex;
    justify-content: left;
    align-items: center;
}